body{
    color: rgb(255, 0, 0);
    background-color: paleturquoise;

}
.heading{
    font-size: 25px;
    width: 80%;
    color: white;
}
.faces_of_persons{
    color: darkslateblue;
    font-size: 21px;
}
#camera{
    border: 2px dashed cornflowerblue;
    width: 350px;
    height:350px; 
    
}